1. Business understanding.

--In this section we are going to define what we want to acomplish. We are going to define our goals, which questions do we want to answer?

1.1. Determine Business Objectives (Identifying our business goals: what do we want to achieve)

A school wants their students to succeed. With more students passing their courses, graduating and afterwards end up in jobs with an important position, increases the value and ranking of the school.
This will attract more domestic students as well as international students. which in turn will increase the ranking and income (if this valued) of the school.
Our main objective will be to find out why students are failing/succeeding. What are the variables that determine this. Predicting which students are likely to fail and then try to have a positive impact on the students.


1.2. Defining your data-mining goals:

I think the obvious question would be, which courses are failed/passed the most.
When we find the courses that are failed the most, we can look at why these courses are failed. Who are the students that fail these courses? What causes them to fail a course? Are they putting in enough time?
Is that specific course harder then other?

There are a couple of variables which we can look at.

--> Is there a difference between students enrolled in the courses with a high fail rate compared to high success rate?
--> Is there less interaction with the VLE's when students fail? In other words, is there any correlation between failing a course and working with the available materials?
--> How many students do not submit the assessment? 
--> Does the disablity of a student contribute to the failure in a course?
--> Do people who perform well on Tutor marked assessments and computer marked assessments also perform on the final examen? Why not?
--> Do girls perform better then boys? or vice versa
--> Is there any correlation between the imd_band and the failure of a course? Do people in poverty perform worse then others?
--> Will students who attempt a module multiple times do better or worse?
--> Is there any correlation between failing/passing a module based on the highest education on entry?
--> Are student who pick up more credits at once more likely to fail a course? (due to having more work then students with less credits)

We can try to answer all of these questions and then draw a conclusion.

2. Data understanding.

2.1. Collecting describing and exploring our initial data:
    In this part we are going to output a very small portion of all the data sets we are presented with. 
    this gives us an initial understanding what is presented in these data files. 
    I will give a short explanation about each set before continueing outputting/analysing our data and what we can do with it.

### Bussiness understanding

#### 1) Determine the business objectives: 

      A school wants to graduate as many high quality students as possible and have them occupy important positions in the workfield. 
      This means keeping the standard of graduates high, while also passing a lot of students. 
      Having talented students at their disposal makes this job easier. 
      Thus A school needs to keep its reputation high, in order to convince talented students to apply for their   
      school, international students and local ones. A delicate balance between passing a lot of students, and keeping the bar high emerges. 
   
#### 2) Assess situation: What needs to be done to get ready?
      
      Risk: We are not allowed to make decision's based on race or gender
      Todo: gather student, and course data. 
      Cost: will be zero in terms of currency, we only need to request data. 
 
#### 3) Determine data science goals.
      
      Given data about students we want to predict if they are going to be successful or not.
      Analyzing which courses are failed/passed the most, in order to improve these courses.
      How do students interact with the virtual learning environments and how does it improve their chances to succeed in the courses.
      
#### 4) Produce project plan
      
      This would take me about 1 hour, I will research the data and find patterns. 
    
### Data understanding
   
#### 1) Collect intial data:
Already provided 
#### 2) Examine the data:

##### Assessments

*This file contains information about assessments in module-presentations. Usually, every presentation has a number of assessments followed by the final exam.*

|variable                       |class          |description                    |notes                        |
|:------------------------------|:--------------|:------------------------------|:----------------------------|
|code_module                    |character      |identification code of the module||
|code_presentation              |character      |identification code of the presentation||
|id_assessment                  |number         |identification number of the assessment||
|assessment_type                |character      |type of assessment. Three types of assessments exist: Tutor Marked Assessment (TMA), Computer Marked Assessment (CMA) and Final Exam (Exam)||
|date                           |number         |information about the final submission date of the assessment|We don't really know how to interpret it. Would need further clarification from the business.|
|weight                         |double     |weight of the assessment in %. Typically, Exams are treated separately and have the weight 100%; the sum of all other assessments is 100%||

##### Courses

*File contains the list of all available modules and their presentations. The columns are:*

|variable                       |class          |description                    |notes                        |
|:------------------------------|:--------------|:------------------------------|:----------------------------|
|code_module                    |character      |code name of the module, which serves as the identifier||
|code_presentation              |character      |code name of the presentation. It consists of the year and “B” for the presentation starting in February and “J” for the presentation starting in October.||
|module_presentation_length     |number         |length of the module-presentation in days||

*The structure of B and J presentations may differ and therefore it is good practice to analyse the B and J presentations separately. Nevertheless, for some presentations the corresponding previous B/J presentation do not exist and therefore the J presentation must be used to inform the B presentation or vice versa. In the dataset this is the case of CCC, EEE and GGG modules.*

##### Student Assessment

*This file contains the results of students’ assessments. If the student does not submit the assessment, no result is recorded. The final exam submissions is missing, if the result of the assessments is not stored in the system. This file contains the following columns:*

|variable                       |class          |description                    |notes                        |
|:------------------------------|:--------------|:------------------------------|:----------------------------|
|id_assessment                  |number         |the identification number of the assessment||
|id_student                     |number         |a unique identification number for the student||
|date_submitted                 |number         |the date of student submission||
|is_banked                      |boolean        |a status flag indicating that the assessment is banked|0  or 1, I also don't really know what this means|
|score                          |double         |the student’s score in this assessment|0 to 100|

##### Student Registration

*This file contains information about the time when the student registered for the module presentation. For students who unregistered the date of unregistration is also recorded. File contains five columns:*

|variable                       |class          |description                    |notes                        |
|:------------------------------|:--------------|:------------------------------|:----------------------------|
|code_module                    |character      |an identification code for a module||
|code_presentation              |character      |the identification code of the presentation||
|id_student                     |number         |a unique identification number for the student
|date_registration              |double         |the date of student’s registration on the module presentation|again, the weird number format that I will interpret but would need more clarification about|
|date_unregistration            |double         |date of student unregistration from the module presentation|same as above|

##### Student Info

*This file contains demographic information about the students together with their results. File contains the following columns:*

|variable                       |class          |description                    |notes                        |
|:------------------------------|:--------------|:------------------------------|:----------------------------|
|code_module                    |character      |an identification code for a module||
|code_presentation              |character      |the identification code of the presentation||
|id_student                     |number         |a unique identification number for the student||
|gender                         |character      |the student’s gender||
|region                         |character      |identifies the geographic region||
|highest_education              |character      |highest student education level on entry to the module presentation||
|imd_band                       |range (%)      |specifies the Index of Multiple Depravation band of the place where the student lived during the module-presentation||
|age_band                       |range (number) |band of the student’s age
|num_of_prev_attempts           |number         |the number times the student has attempted this module||
|studied_credits                |number         |the total number of credits for the modules the student is currently studying||
|disability                     |character      |indicates whether the student has declared a disability|(Y/N)|
|final_result                   |character      |student’s final result in the module-presentation||

##### Student VLE

*The studentVle.csv file contains information about each student’s interactions with the materials in the VLE (Virtual Learning Environment). This file contains the following columns:*

|variable                       |class          |description                    |notes                        |
|:------------------------------|:--------------|:------------------------------|:----------------------------|
|code_module                    |character      |an identification code for a module||
|code_presentation              |character      |the identification code of the presentation||
|id_student                     |number         |a unique identification number for the student||
|id_site                        |number         |an identification number for the VLE material||
|date                           |number         |the date of student’s interaction with the material||
sum_click             

##### VLE

*The csv file contains information about the available materials in the VLE. Typically these are html pages, pdf files, etc. Students have access to these materials online and their interactions with the materials are recorded. The vle.csv file contains the following columns:*

|variable                       |class          |description                    |notes                        |
|:------------------------------|:--------------|:------------------------------|:----------------------------|
|code_module                    |character      |an identification code for a module||
|code_presentation              |character      |the identification code of the presentation||
|id_site                        |number         |an identification number for the VLE material||
|activity_type                  |character      |the role associated with the module material||
|week_from                      |number         |the week from which the material is planned to be used||
|week_to                        |number         |week until which the material is planned to be used||

#### 3) explore the data:

##### Load in the data

In [34]:
# Load in the python modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
assessments_df = pd.read_csv('data/assessments.csv')
courses_df = pd.read_csv('data/courses.csv')
student_assessment_df = pd.read_csv('data/studentAssessment.csv')
student_registration_df = pd.read_csv('data/studentRegistration.csv')
student_info_df = pd.read_csv('data/studentInfo.csv')
student_vle_df = pd.read_csv('data/studentVle.csv')
vle_df = pd.read_csv('data/vle.csv')

##### Look at the first rows of every dataset

In [36]:
assessments_df.head()

  code_module code_presentation  id_assessment assessment_type  date  weight
0         AAA             2013J           1752             TMA   NaN    10.0
1         AAA             2013J           1753             TMA   NaN    20.0
2         AAA             2013J           1754             TMA   NaN    20.0
3         AAA             2013J           1755             TMA   NaN    20.0
4         AAA             2013J           1756             TMA   NaN    30.0

In [37]:
courses_df.head()

  code_module code_presentation  module_presentation_length
0         AAA             2113J                         268
1         AAA             2014J                         269
2         BBB             2113J                         268
3         BBB             2014J                         262
4         BBB             2013B                         240

In [38]:
student_assessment_df.head()

   id_assessment  id_student  date_submitted  is_banked  score
0           1752       11391              18          0   78.0
1           1752       28400              22          0   70.0
2           1752       31604              17          0   72.0
3           1752       32885              26          0   69.0
4           1752       38053              19          0   79.0

In [39]:
student_registration_df.head()

,code_module,code_presentation,id_student,date_registration,date_unregistration
0,AAA,2013J,11391,-159.0,NaN
1,AAA,2013J,28400,-53.0,NaN
2,AAA,2013J,30268,-92.0,12.0
3,AAA,2013J,31604,-52.0,NaN
4,AAA,2013J,32885,-176.0,NaN

In [40]:
student_info_df.head()

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,NaN,NaN,28400,NaN,Scotland,NaN,20-30%,NaN,0,60,N,Pass
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass

In [41]:
student_vle_df.head()

  code_module code_presentation  id_student  id_site  date  sum_click
0         AAA             2013J       28400   546652   -10          4
1         AAA             2013J       28400   546652   -10          1
2         AAA             2013J       28400   546652   -10          1
3         AAA             2013J       28400   546614   -10         11
4         AAA             2013J       28400   546714   -10          1

In [42]:
vle_df.head()

   id_site code_module code_presentation activity_type  week_from  week_to
0   546943         AAA             2013J      resource        NaN      NaN
1   546712         AAA             2013J     oucontent        NaN      NaN
2   546998         AAA             2013J      resource        NaN      NaN
3   546888         AAA             2013J           url        NaN      NaN
4   547035         AAA             2013J      resource        NaN      NaN

##### Now we are going to inspect the null values

In [43]:
assessments_df.isnull().sum()

code_module            0
code_presentation      0
id_assessment          0
assessment_type        0
date                 114
weight                 0
dtype: int64

Due to the weird format of the date, at this point in time we can't make a decision about what to do with these missing values. We won't drop them for now so that we don't lose the data.

In [44]:
courses_df.isnull().sum()

code_module                   0
code_presentation             0
module_presentation_length    0
dtype: int64

In [45]:
student_assessment_df.isnull().sum()

id_assessment       0
id_student          0
date_submitted      0
is_banked           0
score             173
dtype: int64

In [46]:
student_registration_df.isnull().sum()

code_module                0
code_presentation          0
id_student                 0
date_registration         45
date_unregistration    22521
dtype: int64

In [47]:
student_info_df.isnull().sum()

code_module             3446
code_presentation       3446
id_student                 0
gender                  3446
region                     0
highest_education       3446
imd_band                1111
age_band                3446
num_of_prev_attempts       0
studied_credits            0
disability                 0
final_result               0
dtype: int64

In [48]:
student_vle_df.isnull().sum()

code_module          0
code_presentation    0
id_student           0
id_site              0
date                 0
sum_click            0
dtype: int64

In [49]:
vle_df.isnull().sum()

id_site                 0
code_module             0
code_presentation       0
activity_type           0
week_from            5243
week_to              5243
dtype: int64